# project files
.project
.settings
.classpath
.pluginlist
.pydevproject

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


!lib/*.jar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# ignore all backup files
*~
*.bak

# ignore all "target" directories created by Maven
target/
page/

# ignore all generated libraries .dylib .so .o .a files
*.[oa]
*.so
*.dylib

# 
*.DS_Store

# ignore class graph
.cld

#
/bin/

# document
.dot
.pdf

